@media (max-width: 768px) { 
  .hapo-wrap-header { 
    .img-logo {
      width: 300px;
      height: 61.74px;
      transform: translateY(-5%);
    }
  }

  #sibarNavbar {
    padding: 5px 0;

    li {
      margin-bottom: 15px;
      margin: 0 20px;

      a {
          margin: 0;
      }
    }
  }

  .hapo-wrap-banner {
    height: 300px;
    width: 100%;

    .hapo-slide-dect {
      font-family: UTM;
      transform: translateY(45%);
      margin-left: 30px;

      .hapo-txt {
        letter-spacing: -0.05em;
        @include font_UTM(bold, 30px, #11114E);
      }

      .hapo-txt-title {
        @include font_UTM (bold, 30px, #11114E);
      }

      .hapo-txt-dect p {
        height: 40px;
        padding: 10px 0;
        margin-top: 5px;
        letter-spacing: -0.05em;
        @include font_UTM(normal, 16px, #505353);
      }

      .hapo-ow {
        width: 34px;
        height: 34px;
      }

      .hapo-slide-button {
        transform: translateY(30%);
      }

      .hapo-slide-button-link {
        padding: 10px 40px;
        height: 37px;
        @include font_UTM(bold,16px,#ffffff);
        line-height: 35px;
      }
    }
  }

  .block-messenger {
    .messenger {
      width: 50px;
      height: 50px;

      .icon-mes {
        width: 37px;
        height: 37px;
      }
    }
  }

  .hapo-wrap-learn {
    .hapo-content-learn {
      font-size: 35px;
      padding-top: 50px;
    }

    .btn-learn-link {
      font-size: 20px;
    }

    a {
      margin-bottom: 60px;
    }
  }

  footer {
    .container-content {
      padding-left: 40px;
      padding-right: 20px;
      transform: translateY(10%);
    }

    .hapo-footer-logo img {
      width: 170px;
      height: 35px;
    }

    .hapo-footer-logo p {
      margin-right: 0;
      @include font_UTM(normal, 15px, #FFFFFF);
    }

    .hapo-nav-footer { 
      li {
        margin-bottom: 8px;
      }

      a {
        @include font_UTM(bold,18px,#ffffff);
      } 
    }
    .hapo-nav-footer-icon { 
      transform: translateY(70%);

      a {
        width: 40px;
        height: 40px;
        margin: auto 15px;
      }

      img {
        width: 12px;
        height: 26px;
      }

      .icon-mail {
        font-size: x-large;
      }
    } 

    .hapo-copyright {
      height: 38px;
      position: initial;

      p {
        @include font_UTM(normal, 15px, #ffffff)
      }
    }

  }

}

@media only screen and (max-width: 425px) {
  .hapo-wrap-header {
    .img-logo {
      height: 50px;
      width: 150px;
    }
  }

  #sibarNavbar {
    padding: 5px 10px;

    li {
      margin: 15px;

      a {
        text-align: center;
        &:hover {
          color: $main_color;
          background: #ffffff;
        }
      }
    }
  }

  .hapo-wrap-banner {
    height: 200px;
    width: 100%;

    .hapo-slide-dect {
      font-family: UTM;
      transform: translateY(120%);
      margin: 0 63px;

      .hapo-txt {
        letter-spacing: -0.05em;
        @include font_UTM(bold, 25px, #11114E);
      }

      .hapo-txt-title {
        @include font_UTM (bold, 25px, #11114E);
      }

      .hapo-txt-dect p {
        letter-spacing: -0.05em;
        height: 40px;
        padding: 5px 0;
        margin-top: 5px;
        @include font_UTM(normal, 16px, #505353);
      }

      .hapo-ow {
        width: 25px;
        height: 25px;
      }

      .hapo-slide-button {
        transform: translateY(30%);
      }

      .hapo-slide-button-link {
        padding: 10px 60px;
        height: 46px;
        @include font_UTM(bold,18px,#ffffff);
        line-height: 45px;
      }
    }
  }


  .hapo-wrap-learn {
    .hapo-content-learn {
      font-size: 23px;
      padding-top: 30px;
    }

    .btn-learn-link {
      font-size: 18px;
      width: 60%;
    }

    a {
      margin-bottom: 50px;
    }
  }

  footer {
    padding: 40px;

    .hapo-footer-menu {
      top: -20px;
    }    

    .hapo-nav-footer li {
      margin-bottom: 24px;
    }

    .hapo-footer-contact {
      top: -25px;
    }

    .hapo-nav-footer-icon .icon-mail {
      font-size: large;
    }

    .hapo-copyright {
      transform: translateY(100%);
    }
  }

  .color-fix {
    height: 320px;
  }

}
