@import 'variable';
@include font-face('UTM', '../fonts/UTM-BryantLG.ttf', normal);
@include font-face('UTM', '../fonts/UTM-BryantLG_B.ttf', bold);
@include font-face('Open Sans', '../fonts/OpenSans-Bold.ttf', bold);
@include font-face('Open Sans', '../fonts/OpenSans-Regular.ttf', normal);

*{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

body {
  font-family: 'UTM';
}

.hapo-wrap-header {
  height: 120px;
}

#sibarNavbar {
  li {
    a {
      font: normal bold 16px/22px Open Sans;
      color: #505353;
      text-align: center;
      margin-right: 40px;
      border-radius: 17px;
      &:hover {
        color: #FFFFFF  ;
        background: $main_color;
      }
    }
  }
}


@import 'responsive';
